$c-primary: #009fe3;

.reveal {
  .marker {
    color: yellow;
  }

  h3 {
    color: $c-primary;
    font-size: 1.3em;
    font-weight: bold;
  }

  h6 {
    font-size: .7em;
  }

  ul {
    margin: 0;

    li {
      list-style-type: dot;
      font-size: .8em;
    }
  }

  small {
    display: block;
    margin-top: 28px;
  }

  section img {
    background: transparent;
    border: none;
  }
}